html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

body {
  transition: radial-gradient 1s ease-in-out;
  height: 400px; }

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  max-width: 900px;
  color: white;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 2em; }

h1 {
  text-align: center; }

.hex {
  display: none; }

.container:hover .time {
  display: none; }

.container:hover .hex {
  display: block; }

.hr-container {
  max-width: 500px;
  margin-top: 450px;
  position: relative;
  left: 50%;
  transform: translateX(-50%); }

hr {
  margin: 0 auto;
  width: 0; }
